doctype html5
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Lato:400,900', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      include nav
      .content
        block content
      include footer