.nav
    .nav-content
        a(href="/")
            img.nav-logo(src="/images/logo.png", alt="logo")
        a(href="/")
            div.nav-section
                h3 Home
        a(href="/random-people")
            div.nav-section
                h3 Random People